[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/incsearch.vim"]
	path = vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/bundle/vim-todo-lists"]
	path = vim/bundle/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
