[submodule "vim/bundle/incsearch.vim"]
	path = vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/bundle/vim-todo-lists"]
	path = vim/bundle/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/bundle/gutentags_plus"]
	path = vim/bundle/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/bundle/vim-over"]
	path = vim/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over
[submodule "tmux-gitbar"]
	path = tmux-gitbar
	url = https://github.com/arl/tmux-gitbar
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
