[submodule "vim/bundle/incsearch.vim"]
	path = vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/bundle/vim-todo-lists"]
	path = vim/bundle/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/bundle/vim-over"]
	path = vim/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/md-img-paste.vim"]
	path = vim/bundle/md-img-paste.vim
	url = https://github.com/ferrine/md-img-paste.vim
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/adelarsq/vim-matchit
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-styled-components"]
	path = vim/bundle/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
[submodule "vim/bundle/vimspector"]
	path = vim/bundle/vimspector
	url = https://github.com/puremourning/vimspector
